<div class="container mt-3">
    <div class="card-columns">
        {{#each journals}}
        <div class="card shadow-sm">
            <div class="card-body">
                <a href="/journals/show/{{id}}" class="text-success">
                    <h3 class="text-capitalize mb-0 ">{{title}}</h3>
                </a>
                <span class="text-muted small ">By: {{user.firstName}} | on {{formatDate date 'MMMM do YYYY'}}</span>
                <p class="mt-2">{{stripper (truncate body 150)}}</p>
                <a href="/journals/show/{{id}} " class="btn btn-success btn-sm">
                    <i class="fas fa-glasses mr-2 "></i>Read More</a>
                {{{editableIfUser user.id ../user.id id}}}
            </div>
        </div>
        {{else}}
        <p class="lead ">No Journals Found</p>
        {{/each}}
    </div>
</div>